---
---
<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>About me</h3>
                
                <p>
                  <table>
                  <tr>
                  <td>
                  <img src="mypic.jpg"
                       align="left", height=200 >
                  </td>
                  <td style="vertical-align:bottom;">
                  I am currently a post-doc with Mark Daly in the <a href="https://www.atgu.mgh.harvard.edu/">Analytical and Translational Genetics Unit</a> at MGH and the Broad Institute.
                </p>
                <p>
                  My broad research area is studying genetic variation in
                  humans. Much of my work focuses specifically on genetic variation at short tandem repeats,
                  also known as microsatellites, and how these and other complex types of variation can affect human traits. I
                  developed an
                  algorithm, <a href="http://jura.wi.mit.edu/erlich/lobSTR/">lobSTR</a>,
                  to profile variation at these loci from high
                  throughput sequencing data. This tool allows us for
                  the first time to answer many questions regarding
                  properties of these loci on a genome-wide
                  and population-wide scale.
                </p>
                <p>
                  Twitter: <a href="https://twitter.com/mgymrek" target="_blank">mgymrek</a><br>
                  Follow my running adventures on <a href="http://app.strava.com/athletes/1202531" target="_blank">Strava</a><br>
                  Github: <a href="https://github.com/mgymrek" target="_blank">mgymrek</a><br>
                  Contact: mgymrek AT mit DOT edu
                </p>
                </td>
                </tr>
                </table>
      </section>
    </div>
  {% include footer.html %}
  </body>
</html>
