---
---
<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h3>About me</h3>
                
                <p>
                  <table>
                  <tr>
                  <td>
                  <img src="mypic.jpg"
                       align="left", height=200 >
                  </td>
                  <td style="vertical-align:bottom;">
                  I am currently a PhD student studying Bioinformatics
                  and Integrative Genomics at the <a href="hst.mit.edu/">Harvard/MIT
                  Health Science and Technology</a> program. I am a member
                  of <a href="jura.wi.mit.edu/erlich/main.html">Yaniv
                  Erlich's lab</a> at
                  the <a href="wi.mit.edu/">Whitehead Institute</a>
                  and am coadvised
                  by <a href="http://www.broadinstitute.org/scientific-community/science/core-faculty-labs/altshuler-lab/altshuler-lab-home">David
                  Altshuler</a> at
                  the <a href="www.broadinstitute.org/">Broad
                  Institute</a>. I did my undergrad
                  at <a href="mit.edu">MIT</a> in computer science and math.
                </p>
                <p>
                  My broad research area is studying genetic variation in
                  humans. My current work focuses specifically on genetic variation at short tandem repeats,
                  also known as microsatellites. I
                  developed an
                  algorithm, <a href="http://jura.wi.mit.edu/erlich/lobSTR/">lobSTR</a>,
                  to profile variation at these loci from high
                  throughput sequencing data. This tool allows us for
                  the first time to answer many questions regarding
                  properties of these loci on a genome-wide
                  and population-wide scale.
                </p>
                <p>
                  Twitter: <a href="https://twitter.com/mgymrek" target="_blank">mgymrek</a><br>
                  Follow my running adventures on <a href="http://app.strava.com/athletes/1202531" target="_blank">Strava</a><br>
                  Git hub: <a href="https://github.com/mgymrek" target="_blank">mgymrek</a><br>
                  Contact: mgymrek AT mit DOT edu
                </p>
                </td>
                </tr>
                </table>
      </section>
    </div>
  {% include footer.html %}
  </body>
</html>
