---
---
<!DOCTYPE html>
<html>
  {% include header.html %}
  <body>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
		<h2>
			Publications
		</h2>
		
		<p>
		  If
		  you're interested in the source code for
		  automatically generating a publications page, you can find it <a href="https://github.com/mgymrek/django-personal-website" target="_blank">here</a>.
		</p>
		<p>
		  My full CV is <a target="_blank" href="mgymrek_cv.pdf">here</a>.
		</p>
		<p>
		  Thomas F. Willems, <strong>Melissa Gymrek</strong>, Gareth Highnam, The 1000 Genomes Project, David Mittelman, Yaniv Erlich. (2014) The Landscape of Human STR Variation. <emph>biorxiv</emph> [<a href="http://biorxiv.org/content/biorxiv/early/2014/05/01/004671.full.pdf">pdf</a>]
		</p>
		<p>
		  Dina Zielinski, Barak Markus, Mona Sheikh, <strong>Melissa Gymrek</strong>, Clement Chu, Marta Zaks, Balaji Srinivasan, Jodi D. Hoffman, Dror Aizenbud, Yaniv Erlich. (2014) OTX2 Duplication Is Implicated in Hemifacial Microsomia. <emph>PLoS One</emph>. 9(5):e96788
		  [<a href="http://www.ncbi.nlm.nih.gov/pubmed/24816892" target="_blank">pubmed</a>]
		  [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=24816892" target="_blank">bibtex</a>]
		</p>
		  <p>
		      Michal Breker,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Ofer Moldavski,
		    
		    
		    
		      Maya Schuldiner.
		    
		    
		    (2013)
		    LoQAtE--Localization and Quantitation ATlas of the yeast proteomE. A new tool for multiparametric dissection of single-protein behavior in response to biological perturbations in yeast.
		    <em>Nucleic Acids Res</em>.
		    0(0):0
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/24150937" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=24150937" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Yaniv Erlich.
		    
		    
		    (2013)
		    Profiling short tandem repeats from short reads.
		    <em>Methods Mol Biol</em>.
		    1038(0):113-35
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23872972" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23872972" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		      Michal Breker,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Maya Schuldiner.
		    
		    
		    (2013)
		    A novel single-cell screening platform reveals proteome plasticity during yeast stress responses.
		    <em>J Cell Biol</em>.
		    200(6):839-50
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23509072" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23509072" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Amy McGuire,
		    
		    
		    
		      David Golan,
		    
		    
		    
		      Eran Halperin,
		    
		    
		    
		      Yaniv Erlich.
		    
		    
		    (2013)
		    Identifying personal genomes by surname inference.
		    <em>Science</em>.
		    339(6117):321-4
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23329047" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23329047"
		    target="_blank">bibtex</a>]
		    <a href="surname-inference-resources.html"><strong>Press
		    and resources</strong></a>
		  </p>
		  
		  <p>
		      Dina Zielinski,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Yaniv Erlich.
		    
		    
		    (2012)
		    Back to the family: a renewed approach to rare variant studies.
		    <em>Genome Med</em>.
		    4(12):97
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23253160" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23253160" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    
		      Carlos Sebastian,
		    
		    
		    
		      Bernadette Zwaans,
		    
		    
		    
		      Dafne Silberman,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Alon Goren,
		    
		    
		    
		      Lei Zhong,
		    
		    
		    
		      Oren Ram,
		    
		    
		    
		      Jessica Truelove,
		    
		    
		    
		      Alexander Guimaraes,
		    
		    
		    
		      Debra Toiber,
		    
		    
		    
		      Claudia Cosentino,
		    
		    
		    
		      Joel Greenson,
		    
		    
		    
		      Alasdair MacDonald,
		    
		    
		    
		      Liane McGlynn,
		    
		    
		    
		      Fraser Maxwell,
		    
		    
		    
		      Joanne Edwards,
		    
		    
		    
		      Sofia Giacosa,
		    
		    
		    
		      Ernesto Guccione,
		    
		    
		    
		      Ralph Weissleder,
		    
		    
		    
		      Bradley Bernstein,
		    
		    
		    
		      Aviv Regev,
		    
		    
		    
		      Paul Shiels,
		    
		    
		    
		      David Lombard,
		    
		    
		    
		      Raul Mostoslavsky.
		    
		    
		    (2012)
		    The histone deacetylase SIRT6 is a tumor suppressor that controls cancer metabolism.
		    <em>Cell</em>.
		    151(6):1185-99
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23217706" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23217706" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    
		      Michal Nadler-Holly,
		    
		    
		    
		      Michal Breker,
		    
		    
		    
		      Ranit Gruber,
		    
		    
		    
		      Ariel Azia,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Miriam Eisenstein,
		    
		    
		    
		      Keith Willison,
		    
		    
		    
		      Maya Schuldiner,
		    
		    
		    
		      Amnon Horovitz.
		    
		    
		    (2012)
		    Interactions of subunit CCT3 in the yeast chaperonin CCT/TRiC with Q/N-rich proteins revealed by high-throughput microscopy analysis.
		    <em>Proc Natl Acad Sci U S A</em>.
		    109(46):18833-8
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/23112166" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=23112166" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      David Golan,
		    
		    
		    
		      Saharon Rosset,
		    
		    
		    
		      Yaniv Erlich.
		    
		    
		    (2012)
		    lobSTR: A short tandem repeat profiler for personal genomes.
		    <em>Genome Res</em>.
		    22(6):1154-62
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22522390" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=22522390"
		    target="_blank">bibtex</a>]
		    <a href="http://erlichlab.wi.mit.edu/lobSTR/" target="_blank"><strong>lobSTR website</strong></a>
		  </p>
		  
		  <p>
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Yaniv Erlich.
		    
		    
		    (2012)
		    Using DNA sequencers as stethoscopes.
		    <em>Genome Med</em>.
		    3(11):73
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22103962" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=22103962" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    
		      Oren Ram,
		    
		    
		    
		      Alon Goren,
		    
		    
		    
		      Ido Amit,
		    
		    
		    
		      Noam Shoresh,
		    
		    
		    
		      Nir Yosef,
		    
		    
		    
		      Jason Ernst,
		    
		    
		    
		      Manolis Kellis,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Robbyn Issner,
		    
		    
		    
		      Michael Coyne,
		    
		    
		    
		      Timothy Durham,
		    
		    
		    
		      Xiaolan Zhang,
		    
		    
		    
		      Julie Donaghey,
		    
		    
		    
		      Charles Epstein,
		    
		    
		    
		      Aviv Regev,
		    
		    
		    
		      Bradley Bernstein.
		    
		    
		    (2011)
		    Combinatorial patterning of chromatin regulators uncovered by genome-wide location analysis in human cells.
		    <em>Cell</em>.
		    147(7):1628-39
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/22196736" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=22196736" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    
		      Kristen Naegle,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Brian Joughin,
		    
		    
		    
		      Joel Wagner,
		    
		    
		    
		      Roy Welsch,
		    
		    
		    
		      Michael Yaffe,
		    
		    
		    
		      Douglas Lauffenburger,
		    
		    
		    
		      Forest White.
		    
		    
		    (2010)
		    PTMScout, a Web resource for analysis of high throughput post-translational proteomics studies.
		    <em>Mol Cell Proteomics</em>.
		    9(11):2558-70
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20631208" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=20631208" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    
		      Fatih Ozsolak,
		    
		    
		    
		      Alon Goren,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Mitchell Guttman,
		    
		    
		    
		      Aviv Regev,
		    
		    
		    
		      Bradley Bernstein,
		    
		    
		    
		      Patrice Milos.
		    
		    
		    (2010)
		    Digital transcriptome profiling from attomole-level RNA samples.
		    <em>Genome Res</em>.
		    20(4):519-25
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/20133332" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=20133332" target="_blank">bibtex</a>]
		  </p>
		  
		  <p>
		    
		      Alon Goren,
		    
		    
		    
		      Fatih Ozsolak,
		    
		    
		    
		      Noam Shoresh,
		    
		    
		    
		      Manching Ku,
		    
		    
		    
		      Mazhar Adli,
		    
		    
		    
		      Chris Hart,
		    
		    
		    <strong>
		      Melissa Gymrek,
		    </strong>
		    
		    
		      Or Zuk,
		    
		    
		    
		      Aviv Regev,
		    
		    
		    
		      Patrice Milos,
		    
		    
		    
		      Bradley Bernstein.
		    
		    
		    (2009)
		    Chromatin profiling by directly sequencing small quantities of immunoprecipitated DNA.
		    <em>Nat Methods</em>.
		    7(1):47-9
		    [<a href="http://www.ncbi.nlm.nih.gov/pubmed/19946276" target="_blank">pubmed</a>]
		    [<a href="http://www.bioinformatics.org/texmed/cgi-bin/list.cgi?PMID=19946276" target="_blank">bibtex</a>]
		  </p>
		 </section> 
    </div>
  {% include footer.html %}
  </body>
</html>
